<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'pedidos/style.css' %}">
    <title>Pago</title>
</head>
<body>

<header>
    <h1>Panel de Pago</h1>
</header>

<nav>
    <ul>
        <li><a href="/producto/">Producto</a></li>
        <li><a href="/usuario/">Usuario</a></li>
    </ul>
</nav>

<main>
    <section>
        <h2>Pago</h2>
        <p>Esta es la zona de pago</p>
    </section>
</main>

<footer>
    <p>Aplicación creada con Django</p>
</footer>

</body>
</html>